<% content_for :title do %>Title for User<% end %>
<h1>Hello Users!</h1>
<ul>
	<% @users.each do |user| %>
		<li><%= user.first_name + " " + user.last_name + " " + user.email %>
		</li>
	<% end %>
</ul>
<p>Find me in app/views/users/index.html.erb</p>
